body, html{
    background-color: #fff2bb;
}

table {
    margin: auto;
}

/*article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
    display: block;
}
*/
img {
    height: 100vh;
    width: auto;
}

/*.container .cols {
    float: left;
    text-align: center;
}*/

/*.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.row:after,
.clear:after {
    clear: both;
}*/

.container .cols.col-12 {height: 100vh;}
