<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style_old.css">
    <link rel="stylesheet" type="text/css" href="/static/animation.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<style>
    body{
        background-color: #560e72; /* Цвет фона */
    }
</style>

<style>
    .container {
        background-color: #560e72;
    }
</style>


<div class="container">
    <div class="row">
        <div class="cols col-12">
            <a href="/filters">

                <table>
                    <tr>
                        <td width="20%">
                           <!-- <a href='/start'>
                                <img src="/static/9.jpg" width="20%" alt="">
                            </a>-->
                                <a href="/">Назад</a>
                        </td>

                        <td width="80%">
                            <img src="/static/new_k.gif" alt="">
                        </td>
                    </tr>
                </table>
            </a>

            <table>
                <tr>
                    <td>
                        <a href="/processblue_pink.zip" id ='blue_pink'>
                            <img src="/static/new_1.gif" width="100%" alt="">
                        </a>
                    </td>

                    <td>
                        <a href="/processcomic.zip" id = 'comic'>
                            <img src="/static/new_2.gif" width="100%" alt="">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="/processpop_art_light.zip" id = 'pop'>
                            <img src="/static/new_3.gif" width="100%" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="/processstereo.zip" id = 'stereo'>
                            <img src="/static/new_4.gif" width="100%" alt="">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
