<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="cols col-12">

            <a href="/filters">
                <img src="/static/new_k.gif" width="100%" alt="">
            </a>

            <table>
                <tr>
                    <td>
                        <a href="/resultblue_pink.zip">
                            <img src="/static/new_1.gif" width="100%" alt="">
                        </a>
                    </td>

                    <td>
                        <a href="/resultcomic.zip">
                            <img src="/static/new_2.jpg" width="100%" alt="">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="/resultpop_art_light.zip">
                            <img src="/static/img/new_3.gif" width="100%" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="/resultstereo.zip">
                            <img src="/static/img/new_4.gif" width="100%" alt="">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
