<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style_old.css">
    <link rel="stylesheet" type="text/css" href="/static/animation.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<style>
    body{
        background-color: #560e72; /* Цвет фона */
    }
</style>




        <a href="#" class="btn-gradient cyan small">Button</a>
        <a href="#" class="btn-gradient orange small">Button</a>
        <a href="#" class="btn-gradient blue small">Button</a>
        <a href="#" class="btn-gradient purple small">Button</a>
        <a href="#" class="btn-gradient green small">Button</a>
        <a href="#" class="btn-gradient yellow small">Button</a>
        <a href="#" class="btn-gradient red small">Button</a>

</body>
</html>
