$def with (before, after, hidden, hidden_process, process)
<html xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <title>PhotoLab ClothesSegments</title>

    <link rel="stylesheet" type="text/css" href="/static/animation.css">
</head>
<body>

<style>
    body{
        background-color: #560e72; /* Цвет фона */
    }
</style>

<style>
    .container {
        background-color: #560e72;
    }
</style>

<header>
</header>

<div class="main">

            <div $hidden_process class="row">

                <div class="col-1-2">
                    <div class="buttom_choose_file" style="text-align: center;">

                        <style>
                            .textik {
                                color: white;
                                font-size: 45px;
                                position: center;
                                margin-top: 15%;
                            }
                        </style>

                        <div class="textik">
                            <p align="center">
                                <b>
                                    <p style="font-family:Arial;font-size:45px;">The magic of artificial intelligence is processing your beautiful image!</p>
                                    <br />
                                    <br />
                                    <br />
                                </b>
                            </p>
                        </div>



                        <div class="cssload-container">
                            <div class="cssload-circle-1">
                                <div class="cssload-circle-2">
                                    <div class="cssload-circle-3">
                                        <div class="cssload-circle-4">
                                            <div class="cssload-circle-5">
                                                <div class="cssload-circle-6">
                                                    <div class="cssload-circle-7">
                                                        <div class="cssload-circle-8">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>

    
   

    
<script>
    setTimeout(function() {
   if ($process) {
        window.location.href='/result';
    }
}, 2000);
</script>

    
</body>
</html>
