$def with (before, after, hidden, hidden_process, process)
<html xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <title>PhotoLab ClothesSegments</title>

    <link rel="stylesheet" type="text/css" href="/static/style_old.css">
    <link rel="stylesheet" type="text/css" href="/static/animation.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<style>
    body{
        background-color: #560e72; /* Цвет фона */
    }
</style>

<style>
    .container {
        background-color: #560e72;
    }
</style>

<header>
</header>

<div class="main">



    <div class="container">
        <div class="row">
            <div class="pictures">
                <div $hidden id="example" style="text-align: center;">
                    <div class="fb-share-button" data-href="$after" data-layout="button" data-size="large" data-mobile-iframe="false"></div>
                    <table width="100%">
                        <tr>
                            <td>
                                <img src="$after" width="100%" alt="example_pic_posle" />
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>




            <div $hidden_process class="row">

                <div class="col-1-2">
                    <div class="buttom_choose_file" style="text-align: center;">

                        <style>
                            .textik {
                                color: white;
                                font-size: 25px;
                                position: center;
                                margin-top: 15%;
                            }
                        </style>

                        <div class="textik">
                            <p align="center">
                                <b>
                                    Neural network is now processing your photo!
                                    <br />
                                    <br />
                                    <br />
                                </b>
                            </p>
                        </div>



                        <div class="cssload-container">
                            <div class="cssload-circle-1">
                                <div class="cssload-circle-2">
                                    <div class="cssload-circle-3">
                                        <div class="cssload-circle-4">
                                            <div class="cssload-circle-5">
                                                <div class="cssload-circle-6">
                                                    <div class="cssload-circle-7">
                                                        <div class="cssload-circle-8">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-1-4">
                    <p></p>
                </div>
                <div class="col-1-2">
                    <p></p>
                </div>
            </div>
    </div>
</div>

<footer> 
    <div class="container">
        <p></p>
    </div>

    <div class="col-1-2">
    <!--<div $hidden class="buttom_choose_file" style="text-align: center;">
        <a href="/filtersfromprocess">Back to filters</a>
    </div>-->
</div>
</footer>
   


<script>
    if ($process) {
        window.location.href='/result';
    }
</script>
    
    <script type='text/javascript'>
        if (! $process) {
            setTimeout(function(){document.getElementById("main").click();}, 5000);
            function appShare( result ) {
            } 
        }
   </script>

<table>
    <tr>
        <td width="50%">
            <div $hidden class="buttom_choose_file" style="text-align: center;">
                <a href="/filtersfromprocess">Back to filters</a>
            </div>
        </td>

        <td width="50%">
            <div class="col-1-2">
                <div $hidden class="buttom_choose_file" style="text-align: center;">
                    <a href='callback:nativeShare?og_image=https://bipbap.ru/wp-content/uploads/2017/04/priroda_kartinki_foto_03.jpg &og_title=Mega%20Photo&og_description=Be%20trend%21&func=appShare' id="main">Share</a>
                </div>
            </div>
        </td>
    </tr>
</table>


    
</body>
</html>
