<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!--<link rel="stylesheet" type="text/css" href="/static/style_old.css">-->

    <link rel="stylesheet" type="text/css" href="/static/animation.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
    
<body>
<style>
body{
    background-color: #fcfcc6; /* Цвет фона */
}
</style>
    <div class="container">
       <div class="row">
           <div class="cols col-12" >
    
               <script type='text/javascript'>
                 function photoSelected( result ) {
                    url = result["photos"][0]["image_url"];
                    url = url.substring(7);
                    window.location.href = '/filters'.concat(url);
                 }
               </script>
             
              <a href='callback:nativePhotoSelect?func=photoSelected' id="main"><img src="/static/g.gif" id = "image_origin" width="100%" alt=""></a>
           </div>
       </div>
    </div>
</body>
</html>
