$def with (arg_URL)
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
    
<body>
<style>
body{
    background-color: #560e72; /* Цвет фона */
}
</style>
    <div class="container">
       <div class="row">
           <div class="cols col-12" >
    
               <script type='text/javascript'>
                 function photoSelected( result ) {
                    url = result["photos"][0]["image_url"];
                    url = String(url);
                    beg = "<a href='/filters555444'";
                    
                    beg = beg.concat(">");
                    beg = beg.concat(url);
                    beg = beg.concat("</a>");
                    document.write(beg);
                 }
               </script>
               
             
               <a href='callback:nativePhotoSelect?func=photoSelected'><img src="/static/g.gif" width="100%" alt=""></a>   
           </div>
       </div>
    </div>
</body>
</html>
